<head>
    <title> Nuclear Smoke</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

</head>
<body>
    <h1>
        Panic
    </h1>
    <p>
        There has been a critical error, please go to <a href="https://www.rfs.nsw.gov.au/fire-information/fires-near-me">Fires Near Me</a> for up-to-date government alerts.
    </p>
    </br>
    <p>
        NuclearSmoke is a site that shows bush fire smoke trajectories in NSW.
    </p>
    <p>
        You are reading this because relevant data is inaccessible, either from <a href="prod.dataportal.rfs.nsw.gov.au">RFS</a>, <a href="https://nomads.ncep.noaa.gov">NOAA</a>, or by the <a href="https://github.com/Aveygo/NuclearSmoke">hosting server</a>. 
    </p>
    <p>
        If it is critial for you to calulate smoke trajectories and you can access the services above, you can host Nuclear Smoke yourself. However, I will warn that this process can be a bit tricky for non-developers.
    </p>
    <p>
        If you want to continue with self-hosting NuclearSmoke, please visit <a href="https://github.com/Aveygo/NuclearSmoke">the repository</a> and follow the instructions from there.
    </p>
</body>
